@font-face {
    font-family: "Digital-Dismay";
    src: url("./fonts/DigitalDismay-VAKw.ttf") format("truetype");
}

@font-face {
    font-family: "Digital-Display";
    src: url("fonts/DigitalDisplayRegular-ODEO.ttf") format("truetype");
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.calculator {
    height: 600px;
    width: 400px;
    padding: 7.5px;
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.calc-screen {
    width: 360px;
    height: 100px;
    margin: 15px 0px;
    background-color: lightgrey;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    max-width: 360px;
    font-family: "Digital-Dismay", "Digital-Dismay-2","Digital-Display";
    font-size: 72px;
}

.calc-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 370px;
}

.button {
    margin: 5px 5px;
    height: 82px;
    flex-basis: calc(25% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 25px;
}

.double-wide {
    flex-basis: calc(50% - 10px);
}

.number {
    background-color: #00b3b3;
}

.operator,
.equals,
.switch {
    background-color: #ffffb3;
}

.clear {
    background-color: #ff9966;
}